*{ padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.head{
    background-color:pink;
    padding: 15px;
}
.head__title{
    text-align: center;
}
.container{
    display:flex ;
    justify-content: space-around;
    margin-top: 30px;
    
    
}
.subcontainer{
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 10px;
}
.subcontainer__option{
  padding: 10px;
  border: white 1px solid;
  border-radius: 10px;
  margin-top: 10px;

}
.subcontainer h1{
    text-align: center;
}